/* Container for the entire layout */

.container {
  display: flex;
  overflow-y: hidden !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11px;
  /* margin-top:11px; */
  height: 80vh !important;
  width: 100%;
  /* width: 1728px;
  height: 1117px; */
  /* top: 3360px;
  left: -2951px; */
  background: rgba(255, 255, 255, 1);
}

/* Layout for larger screens */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

/* Image Section */
.imageSection {
  /* width: 990px;
  height: 1095px; */
  /* top: 11px;
  left: 727px; */
  /* width: 100%;
    height: 140vh;
    position: relative; */
}
.churchImage {
  color: blue;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(147, 147, 147, 1);
  width: 1648px;
  height: 1095px;
  left: -412px;
  gap: 0px;
  opacity: 0px;
  backdrop-filter: blur(65.5999984741211px) */

  /* backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.01);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.76%, #000000 83.65%);
  width: 1058px;
  height: 575px;
  top: 544px;
  left: -34px;
  gap: 0px;
  opacity: 0px; */
}

/* @media (min-width: 768px) {
  .imageSection {
    width: 60%;
    height: 100%;
  }
} */

.textSection {
  /* width: 480px;
  height: 730px;
  top: 194px;
  left: 120px;
  gap: 48px;
  opacity: 0px; */

  /* width: 100%;
  padding: 20px; */
  /* background-color: red; */
  /* background-color: #ffff; */
}

@media (min-width: 768px) {
  /* .textSection {
    width: 40%;
    padding: 40px;
  } */
}
.textHeader {
  width: 480px;
  height: 44px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
}
.textSubHeader {
  width: 480px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(107, 107, 107, 1);
  margin-bottom: 25px;
}
.form {
  width: 480px;
  height: 72px;
  margin-bottom: 16px;
}

.halfField {
  display: inline-block;
  width: 48%;
  gap: 12px;
  margin-right: 4%;
}

.halfField:last-child {
  margin-right: 0;
}
.halfInput {
  width: 234px;
  height: 44px;
  padding: 10px, 14px, 10px 14px;
  border: 1px solid rgba(176, 176, 176, 1);
  border-radius: 8px;
  gap: 15px;
}
.halfInput::placeholder {
  color: rgba(140, 140, 140, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 16px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 5px;
}

.input {
  width: 480px;
  height: 44px;
  padding: 10px, 14px, 10px 14px;
  border: 1px solid rgba(176, 176, 176, 1);
  border-radius: 8px;
  gap: 15px;
}

.input::placeholder {
  color: rgba(140, 140, 140, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 16px;
}
.passwordContainer {
  position: relative;
  width: 480px;
}
.eyeIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.passwordContainer span {
  background-color: red;
  fill: red;
}

.eyeIcon:hover {
  opacity: 0.7;
}

.checkbox {
  width: auto;
  margin-right: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.checkboxSpan {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.submitButton {
  width: 480px;
  height: 56px;
  padding: 16px, 41px, 16px, 41px;
  background: rgba(9, 67, 127, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitButton:hover {
  background: rgba(12, 95, 179, 1);
}

.divider {
  width: 480px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.divider hr {
  width: 225px;
  border: 1px solid rgba(138, 138, 138, 1);
}

.divider span {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(138, 138, 138, 1);
}

.googleButton {
  width: 480px;
  height: 53px;
  padding: 12px, 34px, 12px, 14px;
  background-color: #fff;
  border: 1.2px solid rgba(176, 176, 176, 1);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer {
  width: 480px;
  height: 30px;
  text-align: center;
}

.footerText {
  font-size: 20px;
  font-weight: 500;
  color: rgba(140, 140, 140, 1);
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  margin-top: 10px;
}
.footer a {
  font-weight: 700;
  color: rgba(12, 95, 179, 1);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .imageSection {
    height: 200px;
  }

  .bibleVerseCard {
    bottom: 20px;
  }
}
